@use "vars" as *;
@use "root";
@use "classes";
@use "lightbox";
@use "codeblocks";
@use "comments";
@use "fonts";
@use "icons";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
    font-size: $font-size-base;
    font-family: var(--font-body);
    color: var(--color-text);
}

main {
    min-width: 0;
}

%heading {
    margin: 0;
    display: block;
    font-family: var(--font-display);
    font-weight: bold;  
}

@each $name, $value in $font-sizes {
    h#{$name}, .h#{$name} {
        @extend %heading;
        font-size: #{$value};
    }

    .h#{$name} {
        display: inline-block;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

p, ol, ul, blockquote {
  margin: 0;
  margin-bottom: $font-size-base;

    &:last-child {
        margin-bottom: 0;
    }
}

ol:only-child, ul:only-child,
li > ol, li > ul {
    margin-top: 0;
}

ol > li::marker {
    color: var(--color-gray);
}

p > a {
    color: var(--color-accent-dk);
    text-decoration: underline;
    font-weight: bold;
}

ul li {
    list-style-type:"★ ";

    li:nth-child(2n){
        list-style-type:"✮ ";
    }
}

hr {
    color: inherit;
    border: unset;
    border-top: 3px dotted;
    opacity: 0.3;
    margin: $font-size-base 0;
}

img {
    max-width: 100%;
    margin: auto;
}

button,
.button,
select {
    font-size: $font-size-base;
    font-family: var(--font-body);
    background-color: var(--color-accent-lter);
    border: 1px solid var(--color-accent);
    color: var(--color-accent-dkest);
    border-radius: 4px;
    padding: 0.3rem;
}

option {
    font-family: var(--font-body);
}

fieldset {
    margin-bottom: 1rem;
}

blockquote,
.blockquote {
    background: var(--color-accent-ltest);
    padding: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    border-left: 3px solid var(--color-accent);
}

code {
    font-size: $font-size-base;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
}

td, th {
  border: 1px solid var(--color-accent-lter);
  padding: 0.5rem;
}

tr:nth-child(even){
    background-color: var(--color-accent-ltest);
}

th {
  padding: 0.5rem;
  text-align: left;
  background-color: var(--color-accent);
  color: var(--color-body);
}