@font-face {
  font-family: 'icomoon';
  src:  url('/meta/font/icon/icomoon.eot?x74jx');
  src:  url('/meta/font/icon/icomoon.eot?x74jx#iefix') format('embedded-opentype'),
    url('/meta/font/icon/icomoon.ttf?x74jx') format('truetype'),
    url('/meta/font/icon/icomoon.woff?x74jx') format('woff'),
    url('/meta/font/icon/icomoon.svg?x74jx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"], p > a::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e949";
}
.icon-check-outline:before {
  content: "\e94a";
}
.icon-close-outline:before {
  content: "\e955";
}
.icon-close:before {
  content: "\e954";
}
.icon-add-outline:before {
  content: "\e900";
}
.icon-cheveron-outline-up:before {
  content: "\e950";
}
.icon-cheveron-outline-right:before {
  content: "\e94f";
}
.icon-cheveron-outline-down:before {
  content: "\e94d";
}
.icon-cheveron-outline-left:before {
  content: "\e94e";
}
.icon-minus-solid:before {
  content: "\e9b2";
}
.icon-add-solid:before {
  content: "\e901";
}
.icon-adjust:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e91b";
}
.icon-arrow-thin-right:before {
  content: "\e919";
}
.icon-arrow-thin-down:before {
  content: "\e90c";
}
.icon-arrow-thin-left:before {
  content: "\e918";
}
.icon-arrow-thick-up:before {
  content: "\e916";
}
.icon-arrow-thick-right:before {
  content: "\e915";
}
.icon-arrow-thick-down:before {
  content: "\e913";
}
.icon-arrow-thick-left:before {
  content: "\e914";
}
.icon-cheveron-up:before {
  content: "\e952";
}
.icon-cheveron-right:before {
  content: "\e951";
}
.icon-cheveron-down:before {
  content: "\e94b";
}
.icon-cheveron-left:before {
  content: "\e94c";
}
.icon-view-tile:before {
  content: "\ea1b";
}
.icon-menu:before {
  content: "\e9af";
}
.icon-list-bullet:before {
  content: "\e9a1";
}
.icon-album:before {
  content: "\e904";
}
.icon-tuning:before {
  content: "\ea0c";
}
.icon-playlist:before {
  content: "\e9d0";
}
.icon-backward:before {
  content: "\e920";
}
.icon-backward-step:before {
  content: "\e921";
}
.icon-play:before {
  content: "\e9ce";
}
.icon-pause:before {
  content: "\e9c6";
}
.icon-forward-step:before {
  content: "\e987";
}
.icon-pause-outline:before {
  content: "\e9c7";
}
.icon-play-outline:before {
  content: "\e9cf";
}
.icon-volume-up:before {
  content: "\ea1f";
}
.icon-volume-off:before {
  content: "\ea1e";
}
.icon-airplane:before {
  content: "\e903";
}
.icon-anchor:before {
  content: "\e909";
}
.icon-announcement:before {
  content: "\e90a";
}
.icon-at-symbol:before {
  content: "\e91d";
}
.icon-attachment:before {
  content: "\e91e";
}
.icon-backspace:before {
  content: "\e91f";
}
.icon-beverage:before {
  content: "\e926";
}
.icon-block:before {
  content: "\e927";
}
.icon-bolt:before {
  content: "\e929";
}
.icon-book-reference:before {
  content: "\e92a";
}
.icon-bookmark:before {
  content: "\e92b";
}
.icon-arrow-angled-left:before {
  content: "\e92c";
}
.icon-arrow-angled-right:before {
  content: "\e92d";
}
.icon-bookmark-outline:before {
  content: "\e92e";
}
.icon-bookmark-outline-add:before {
  content: "\e92f";
}
.icon-brightness-up:before {
  content: "\e93c";
}
.icon-bug:before {
  content: "\e940";
}
.icon-code:before {
  content: "\e959";
}
.icon-calculator:before {
  content: "\e942";
}
.icon-calendar:before {
  content: "\e943";
}
.icon-camera:before {
  content: "\e944";
}
.icon-coffee:before {
  content: "\e95a";
}
.icon-compose:before {
  content: "\e95d";
}
.icon-computer:before {
  content: "\e95e";
}
.icon-copy:before {
  content: "\e961";
}
.icon-dashboard:before {
  content: "\e964";
}
.icon-directions:before {
  content: "\e967";
}
.icon-document:before {
  content: "\e968";
}
.icon-dots-horizontal:before {
  content: "\e96b";
}
.icon-dots-vertical:before {
  content: "\e9bf";
}
.icon-save:before {
  content: "\e9df";
}
.icon-download:before {
  content: "\e96c";
}
.icon-edit-crop:before {
  content: "\e96f";
}
.icon-edit-cut:before {
  content: "\e970";
}
.icon-edit-pencil:before {
  content: "\e971";
}
.icon-education:before {
  content: "\e972";
}
.icon-information-outline:before {
  content: "\e997";
}
.icon-information-solid:before {
  content: "\e998";
}
.icon-exclamation-outline:before {
  content: "\e974";
}
.icon-exclamation-solid:before {
  content: "\e975";
}
.icon-question-solid:before {
  content: "\e9d5";
}
.icon-film:before {
  content: "\e97a";
}
.icon-filter:before {
  content: "\e97b";
}
.icon-flag:before {
  content: "\e97c";
}
.icon-folder:before {
  content: "\e97f";
}
.icon-gift:before {
  content: "\e988";
}
.icon-hand-stop:before {
  content: "\e98a";
}
.icon-headphones:before {
  content: "\e98c";
}
.icon-heart:before {
  content: "\e98d";
}
.icon-home:before {
  content: "\e98e";
}
.icon-hot:before {
  content: "\e98f";
}
.icon-hour-glass:before {
  content: "\e990";
}
.icon-inbox:before {
  content: "\e991";
}
.icon-inbox-check:before {
  content: "\e992";
}
.icon-inbox-download:before {
  content: "\e993";
}
.icon-inbox-full:before {
  content: "\e994";
}
.icon-layers:before {
  content: "\e99b";
}
.icon-light-bulb:before {
  content: "\e99d";
}
.icon-link:before {
  content: "\e99e";
}
.icon-location:before {
  content: "\e9a3";
}
.icon-food:before {
  content: "\e9a5";
}
.icon-boat:before {
  content: "\e9a8";
}
.icon-tree:before {
  content: "\e9a9";
}
.icon-restroom:before {
  content: "\e9aa";
}
.icon-lock-closed:before {
  content: "\e9ac";
}
.icon-lock-open:before {
  content: "\e9ad";
}
.icon-map:before {
  content: "\e9ae";
}
.icon-mic:before {
  content: "\e9b0";
}
.icon-minus-outline:before {
  content: "\e9b1";
}
.icon-music-album:before {
  content: "\e9bb";
}
.icon-music-artist:before {
  content: "\e9bc";
}
.icon-music-notes:before {
  content: "\e9bd";
}
.icon-news-paper:before {
  content: "\e9c1";
}
.icon-paste:before {
  content: "\e9c5";
}
.icon-pen:before {
  content: "\e9c9";
}
.icon-phone:before {
  content: "\e9ca";
}
.icon-photo:before {
  content: "\e9cb";
}
.icon-pin:before {
  content: "\e9cd";
}
.icon-plugin:before {
  content: "\e9d1";
}
.icon-portfolio:before {
  content: "\e9d2";
}
.icon-printer:before {
  content: "\e9d3";
}
.icon-pylon:before {
  content: "\e9d4";
}
.icon-radar:before {
  content: "\e9d7";
}
.icon-radio:before {
  content: "\e9d9";
}
.icon-shuffle:before {
  content: "\e9ea";
}
.icon-refresh:before {
  content: "\e9da";
}
.icon-reload:before {
  content: "\e9db";
}
.icon-reply:before {
  content: "\e9dc";
}
.icon-reply-all:before {
  content: "\e9dd";
}
.icon-repost:before {
  content: "\e9de";
}
.icon-screen-full:before {
  content: "\e9e0";
}
.icon-search:before {
  content: "\e9e1";
}
.icon-servers:before {
  content: "\e9e3";
}
.icon-shopping-cart:before {
  content: "\e9e8";
}
.icon-show-sidebar:before {
  content: "\e9e9";
}
.icon-stand-by:before {
  content: "\e9eb";
}
.icon-star:before {
  content: "\e9ec";
}
.icon-station:before {
  content: "\e9ed";
}
.icon-tag:before {
  content: "\e9f7";
}
.icon-target:before {
  content: "\e9f8";
}
.icon-text-decoration:before {
  content: "\e9fa";
}
.icon-thumbs-up:before {
  content: "\e9fd";
}
.icon-thumbs-down:before {
  content: "\e9fc";
}
.icon-ticket:before {
  content: "\e9fe";
}
.icon-time:before {
  content: "\e9ff";
}
.icon-timer:before {
  content: "\ea00";
}
.icon-translate:before {
  content: "\ea02";
}
.icon-trash:before {
  content: "\ea03";
}
.icon-travel:before {
  content: "\ea04";
}
.icon-travel-bus:before {
  content: "\ea05";
}
.icon-travel-car:before {
  content: "\ea06";
}
.icon-travel-taxi-cab:before {
  content: "\ea08";
}
.icon-travel-train:before {
  content: "\ea09";
}
.icon-travel-walk:before {
  content: "\ea0a";
}
.icon-trophy:before {
  content: "\ea0b";
}
.icon-upload:before {
  content: "\ea0d";
}
.icon-view-hide:before {
  content: "\ea18";
}
.icon-view-show:before {
  content: "\ea1a";
}
.icon-wallet:before {
  content: "\ea20";
}
.icon-window:before {
  content: "\ea22";
}
.icon-window-new:before {
  content: "\ea23";
}
.icon-window-open:before {
  content: "\ea24";
}
.icon-yin-yang:before {
  content: "\ea26";
}
.icon-zoom-in:before {
  content: "\ea27";
}
.icon-zoom-out:before {
  content: "\ea28";
}
.icon-share:before {
  content: "\e9e6";
}
.icon-globe:before {
  content: "\e989";
}
.icon-network:before {
  content: "\e9c0";
}
.icon-send:before {
  content: "\e9e2";
}
.icon-envelope:before {
  content: "\e973";
}
.icon-chat:before {
  content: "\e948";
}
.icon-external-link:before {
  content: "\e90d";
}
.icon-dice:before {
  content: "\e912";
}
.icon-game:before {
  content: "\e912";
}
.icon-chance:before {
  content: "\e912";
}
.icon-luck:before {
  content: "\e912";
}
.icon-random:before {
  content: "\e912";
}
.icon-gample:before {
  content: "\e912";
}
.icon-smile:before {
  content: "\ea2b";
}
.icon-smile-solid:before {
  content: "\ea2c";
}
.icon-tongue:before {
  content: "\ea2d";
}
.icon-tongue-solid:before {
  content: "\ea2e";
}
.icon-sad:before {
  content: "\ea2f";
}
.icon-sad-solid:before {
  content: "\ea30";
}
.icon-wink:before {
  content: "\ea31";
}
.icon-wink-solid:before {
  content: "\ea32";
}
.icon-grin:before {
  content: "\ea33";
}
.icon-grin-solid:before {
  content: "\ea34";
}
.icon-cool:before {
  content: "\ea35";
}
.icon-cool-solid:before {
  content: "\ea36";
}
.icon-angry:before {
  content: "\ea37";
}
.icon-angry-solid:before {
  content: "\ea38";
}
.icon-evil:before {
  content: "\ea39";
}
.icon-evil-solid:before {
  content: "\ea3a";
}
.icon-shocked:before {
  content: "\ea3b";
}
.icon-shocked-solid:before {
  content: "\ea3c";
}
.icon-baffled:before {
  content: "\ea3d";
}
.icon-baffled-solid:before {
  content: "\ea3e";
}
.icon-confused:before {
  content: "\ea3f";
}
.icon-confused-solid:before {
  content: "\ea40";
}
.icon-neutral:before {
  content: "\ea41";
}
.icon-neutral-solid:before {
  content: "\ea42";
}
.icon-hipster:before {
  content: "\ea43";
}
.icon-hipster-solid:before {
  content: "\ea44";
}
.icon-wondering:before {
  content: "\ea45";
}
.icon-wondering-solid:before {
  content: "\ea46";
}
.icon-sleepy:before {
  content: "\ea47";
}
.icon-sleepy-solid:before {
  content: "\ea48";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-rss-solid:before {
  content: "\ea9c";
}
.icon-github:before {
  content: "\eab0";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac2";
}
.icon-git:before {
  content: "\eae7";
}
