@use "vars" as *;
@use "sass:list";
@use "sass:map";

@mixin loopValues($prefix, $list) {
  @each $name, $value in $list {
    --#{$prefix}#{$name}: #{$value};
  }
}

@mixin classes($name) {
  .bg-#{$name} {
    background-color: var(--color-#{$name});
  }

  .clr-#{$name} {
    color: var(--color-#{$name});
  }
}

$first_name: nth(map.keys($themes), 1);
$first_theme: nth(map.values($themes), 1);
$first_props: map.keys($first_theme);

:root, [data-bs-theme="#{$first_name}"] {
  --font-size: #{$font-size-base};
  --font-display: #{$font-display};
  --font-body: #{$font-body};
  @include loopValues("color-", $colors);
  @include loopValues("color-", $first_theme);
}

$index: 1;
@each $name, $value in $themes {
  @if $index > 1 {
    [data-bs-theme="#{$name}"] {
      @include loopValues("color-", $value);
    }
  } @else {
    $index: $index + 1;
  }
}

@each $name in $first_props {
  @include classes($name);
}