@use "vars" as *;
@use "sass:list";
@use "sass:map";

@mixin loopValues($prefix, $list) {
  @each $name, $value in $list {
    --#{$prefix}#{$name}: #{$value};
  }
}

@mixin classes($name) {
  .bg-#{$name} {
    background-color: var(--color-#{$name});
  }

  .clr-#{$name} {
    color: var(--color-#{$name});
  }
}

@mixin bg($name){
  --img: url(/meta/img/bg/#{$name}.jpg);
}

$first_name: nth(map.keys($themes), 1);

$first_values: nth(map.values($themes), 1);
$first_colors: map.get($first_values, 'colors');
$first_font: map.get($first_values, 'font');

$first_props: map.keys($first_colors);

:root, [data-stupied-theme="#{$first_name}"] {
  @include loopValues("color-", $colors);
  --font-size: #{$font-size-base};
  
  @include bg($first_name);
  @include loopValues("color-", $first_colors);
  @include loopValues("font-", $first_font);
}

$index: 1;
@each $name, $value in $themes {
  @if $index > 1 {
    [data-stupied-theme="#{$name}"] {
      @include bg($name);
      @include loopValues("color-", map.get($value, 'colors'));
      @include loopValues("font-", map.get($value, 'font'));
    }
  } @else {
    $index: $index + 1;
  }
}

@each $name in $first_props {
  @include classes($name);
}

.font-display {
  font-family: var(--font-display);
}

.font-body {
  font-family: var(--font-body);
}