@use "sass:map" as *;
@use "sass:color" as *;

// mixins ================================

@function color($target) {
  @return map-get($colors, $target);
}

$break: 600px;
@mixin res ($type: m){
    @if ($type == m){
        @media only screen and (max-width: #{$break}) {
            @content;
        }
    } @else {
        @media only screen and (min-width: #{$break}) {
            @content;
        }
    }
}

// colors ================================


$colors: (
  blue: #16a2c2,
);

$themes: (
  light: (
    text: black,
    body: white,
    accent: color(blue),
    accent-dk: mix(color(blue), black, 90%, lab),
    accent-dker: mix(color(blue), black, 60%, lab),
    accent-dkest: mix(color(blue), black, 30%, lab),
    accent-lt: mix(color(blue), white, 80%),
    accent-lter: mix(color(blue), white, 50%),
    accent-ltest: mix(color(blue), white, 20%)
  ),
  dark: (
    text: white,
    body: black
  )
);


// fonts =================================

$font-display: "Grandstander";
$font-body: "Chiron GoRound TC";

$font-size-base: 1.2rem;
$font-after: $font-size-base * 0.5;

$font-sizes: (
  1: $font-size-base * 2.5,
  2: $font-size-base * 2,
  3: $font-size-base * 1.75,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25,
  6: $font-size-base
);

// grids =================================

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
);

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.5,
    2: $spacer * 0.8,
    3: $spacer,
);

// borders ===============================

$bw: 2px;
$br: 5px;
$bc: black;
$borders: (
    left: "0 0 0 #{$bw}", 
    right: "0 #{$bw} 0 0", 
    top: "#{$bw} 0 0 0", 
    bottom: "0 0 #{$bw} 0",
    x: "#{$bw} 0",
    y: "0 #{$bw}"
);

// dropdowns ============================

$dropdown-color: var(--color-text);
$dropdown-bg: var(--color-first);

$dropdown-border-color: #{$bc};
$dropdown-border-radius: #{$br};
$dropdown-border-width: #{$bw};