<noscript>
    <h2>Comment Section Disabled</h2>
    <p>This portion utilizes javascript and will not work without it. Please consider toggling it on!</p>
</noscript>

{% if site.deploying %}
    {%- if site.url contains 'nekoweb.org'-%}
        <script>window.location.replace('https://stupied.net' +  window.location.pathname + window.location.search);</script>
    {%- endif-%}

    <script src="https://giscus.app/client.js"
            data-repo="Stupiedidiot/giscus"
            data-repo-id="R_kgDOSRVcUw"
            
            {% case include.category -%}
            {%- when 'Art' -%}
            data-category="Art"
            data-category-id="DIC_kwDOSRVcU84C8F11"
            {%- when 'blog' -%}
            data-category="Blog"
            data-category-id="DIC_kwDOSRVcU84C8F2J"
            {%- else -%}
            data-category="Guestbook"
            data-category-id="DIC_kwDOSRVcU84C8F2Q"
            {%- endcase %}

            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="0"

            {% if include.reverse %}
                data-default-comment-order="oldest"
            {%- else -%}
                data-default-comment-order="newest"
            {%- endif %}

            data-emit-metadata="0"
            data-input-position="top"
            data-theme="light"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
{% endif %}

{% include widget/comments-archived.liquid %}