<noscript>
    <h2>Comment Section Disabled</h2>
    <p>This portion utilizes javascript and will not work without it. Please consider toggling it on!</p>
</noscript>

{% if site.deploying %}
    {%- if site.url contains 'nekoweb.org'-%}
        <script>window.location.replace('https://stupied.net' +  window.location.pathname + window.location.search);</script>
    {%- endif-%}

    <script src="https://giscus.app/client.js"
            data-repo="Stupiedidiot/stupied.net"
            data-repo-id="R_kgDOSe1atQ"
            
            {% case include.category -%}
            {%- when 'Art' -%}
            data-category="Art"
            data-category-id="DIC_kwDOSe1atc4DAwc2"
            {%- when 'Blog' -%}
            data-category="Blog"
            data-category-id="DIC_kwDOSe1atc4DAwcv"
            {%- else -%}
            data-category="Guestbook"
            data-category-id="DIC_kwDOSe1atc4DAwcu"
            {%- endcase %}

            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="0"

            {% if include.reverse %}
                data-default-comment-order="oldest"
            {%- else -%}
                data-default-comment-order="newest"
            {%- endif %}

            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
{% else %}
    <p>[ INSERT COMMENT BOX ]</p>
{% endif %}

{% include widget/comments-archived.liquid %}