{%- assign data = include.data -%}
{% assign max = include.max | default: data.size %}
<div class="timeline">
    {%- for e in data limit: max -%}
        <a href="{{ e.url }}" class="timeline-item {{ e.tags | join: ' ' }}">
            <div class="timeline-content">
                {%- unless include.no_thumbnail -%}
                    {%- if e.thumbnail -%}
                        <div class="timeline-thumb" style="--bg:url({{ e.thumbnail }});"></div>
                    {%- endif -%}                   
                {%- endunless -%}
                <div class="timeline-info">
                    <div class="timeline-text">
                        <span class="timeline-title">{{ e.title }}</span>
                        {%- unless include.no_desc -%}
                            {%- if e.description -%}
                                <div class="timeline-desc">
                                    {{ e.description }}
                                </div>
                            {%- else -%}
                                <div class="timeline-desc">
                                    {{ e.content | strip_html | markdownify | strip_html | truncatewords: 25}}
                                </div>
                            {%- endif -%}
                        {%- endunless -%}
                        <time datetime="">{{ e.date | date: "%b %-d, %Y" }}</time>
                    </div>
                </div>
            </div>
        </a>
    {%- endfor -%}
</div>