---
layout: page
title: Media Reviews

pagination: 
    enabled: true
    title: ':title'
    collection: reviews
    category: completed

    sort_reverse: true
    sort_field: date

    per_page: 16
    permalink: '/chez/reviews/:num/'
    trail: 
        before: 1
        after: 1
---

<div class="padded">
    <h1>{{ page.title }} <span>(<span class="clr-accent">{{ paginator.page }}</span>/{{ paginator.total_pages }})</span></h1>
    <p>Rambling about the media I've seen.</p>

    {% comment %} Really ought to update the styling for this :P {% endcomment %}
    <div class="timeline">
        {%- for e in paginator.posts -%}
            <a href="{{ e.url }}" class="border-dashed-top timeline-item {{ e.tags | join: ' ' }}">
                <div class="timeline-content">
                    {% assign thumbnail = e.name | split: '.' | first | downcase |  prepend: '/chez/reviews/img/' |  append: '.jpg' %}
                    {% assign test = thumbnail |  prepend: '/snail/_img' | check_file %}

                    {%- if test -%}
                        <div class="timeline-thumb" style="--bg:url({{ thumbnail }});"></div>
                    {%- endif -%}
                    
                    <div class="timeline-info">
                        <div class="timeline-text">
                            <span class="timeline-title">{{ e.title }}</span>
                            <div class="timeline-desc">
                                {{  e.content | strip_html | markdownify| strip_html | truncatewords: 25, "..." }}
                            </div>
                            <time datetime="{{ e.date | date_to_xmlschema }}">{{ e.date | date: "%b %-d, %Y" }}</time>
                        </div>
                    </div>
                </div>
            </a>
        {%- endfor -%}
    </div>
</div>


{% if paginator.total_pages > 1 %}
    <ul class="sub">
        {% if paginator.next_page %}
            <li>
                <a id="nextprev-next" href="{{ paginator.next_page_path | prepend: site.baseurl }}" title="View Next Page">
                    <span class="icon-arrow-thin-left"></span>
                    <span>Next</span>
                </a>
            </li>
        {% endif %}

        {% if paginator.page_trail %}
            {% for trail in paginator.page_trail %}
                <li class="white">
                    <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}"
                        {% if paginator.page == trail.num %}
                            class="nextprev-current"
                        {% endif %}
                    ><span>{{ trail.num }}</span></a>
                </li>
            {% endfor %}
        {% endif %}

        {% if paginator.previous_page %}
            <li>
                <a id="nextprev-prev" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" title="View Previous Page">
                    <span>Prev</span>
                    <span class="icon-arrow-thin-right"></span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}