---
---
@use "vars" as *;

#container {
  background-color: #1a1a1a;
  user-select: none;
  color: white;
}

header {
  text-align: center;
  user-select: none;
}

.S .tier-label {background-color: #ff807d;}
.A .tier-label {background-color: #fec07b;}
.B .tier-label {background-color: #fefe7f;}
.C .tier-label {background-color: #7eff80;}
.D .tier-label {background-color: #7fbfff;}
.E .tier-label {background-color: #807fff;}
.F .tier-label {background-color: #fe7ffe;}

.tier {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  &-list {
    background-color: black;
  }

  &-label {
    display: flex;
    padding: 1rem;
    color: black;
    align-items: center;
    border-radius: 3px;
  }

  &-items {
    --min-height: 150px;
    flex: 1;
  }

  &-thumb {
    transition: 0.2s;
   
    &.w-review:hover {
      position: relative;
      outline: 3px solid white;
      border-radius: 3px;
      transform: translateY(-8%);
    }
  }

  @include max(sm){
    flex-wrap: wrap;
    &-label {
      flex: 100%;
      padding: 0.5rem;
    }
  }
}

// delete in the future!
.review-thumbnail-feed {
    display: block;
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 0.2rem;
}