---
layout: none
---
@use "vars" as *;
@use "defaults";
@use "splash";

body {
    @extend %checkered;
}

#container {
    display: grid;
    grid-template-columns: 1fr auto 2fr;
    grid-template-rows: auto 1fr;

    background-color: var(--color-body);

    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    outline: 3px solid;
    
    @include res {
        grid-template-columns: 1fr;
    }
}

#sidebar {
    display: flex;
    justify-content: center;
    align-items: end;

    position: sticky;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    background: url(/art/img/26/Pagsure.jpg);
    background-size: cover;
    background-position: center right;

    border-right: 3px solid black;
    
    &_wrapper {
        width: 100%;
        padding: 0.8rem;
        padding-top: 2rem;
        background: linear-gradient(transparent 10%, black);
        overflow: auto;
        max-height: 100vh;
    }

    &_nav {
        color: white;
        text-shadow: 0 0 8px black;
    }

    &_content {
        background-color: red;
        display: none;
    }

    @include res {
        height: auto;
        position: static;
        &_wrapper {
            max-height: unset;
        }
    }
}

#divider {
    $s: 1.5rem;
    $b: 3px solid var(--color-accent-dk);
    border-right: $b;
    width: $s;

    @extend %stripped;

    @include res {
        border-right: none;
        border-bottom: $b;
        width: 100%;
        height: $s;
    }

}

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    width: 100%;
    
    &_wrapper {
    }
}

#footer {
    @extend %padded;
    border-top: 2px solid var(--color-accent-dk);
    background-color: var(--color-accent-lter);
    color: var(--color-accent-dk);

    a {
        color: inherit;
        text-decoration: none;
    }
}

#search {
    margin: 1rem 0;

    .pagefind-ui__drawer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .pagefind-ui__filter-block {
        border: 1px solid lightgray;
        border-radius: 8px;
        padding: 0.8rem;
    }

    .pagefind-ui__result {
        flex-direction: row-reverse;
    }

    .pagefind-ui__result-thumb:not(:has(img)){
        display: none;
    }
}

#pagefind_thumbnail {
    display: none!important;
}