---
---
@use "splash";
@use "yay";
@use "bootstrap/bootstrap" with (
    $headings-font-family: "Grandstander",
    $font-family-base: ("Chiron GoRound TC", Arial, Helvetica, sans-serif)
);

@import url(./fonts.css);
@import url(./icons.css);


body {
}

#container {
    background-color: color-mix(in srgb, var(--bs-body-bg), transparent);
    backdrop-filter: blur(3px);
    color: var(--bs-body-color);
    max-width: 1080px;
}

#sidebar {
    &_wrapper {
    }

    &_content {
    }
}

#main {
    &_wrapper {
    }
}

#intro {
    &_img {
        background-position: center;
        background-size: cover;
        background-image: url(/test.jpg);
        aspect-ratio: 2/1;
    }
}

#aside {
    > div {
        padding: 1rem;
        border-bottom: var(--bs-border-width) solid var(--bs-border-color);
    }
}