<noscript>
    <h2>Comment Section Disabled</h2>
    <p>This portion utilizes javascript and will not work without it. Please consider toggling it on!</p>
</noscript>

{% if site.deploying %}
    {%- if site.url contains 'nekoweb.org'-%}
        <script>window.location.replace('https://stupied.net' +  window.location.pathname + window.location.search);</script>
    {%- endif-%}

    <script src="https://giscus.app/client.js"
            data-repo="Stupiedidiot/giscus"
            data-repo-id="R_kgDOSRVcUw"
            
            {% case include.category -%}
            {%- when 'Art' -%}
            data-category="Art"
            data-category-id="DIC_kwDOSRVcU84C8F11"
            {%- when 'blog' -%}
            data-category="Blog"
            data-category-id="DIC_kwDOSRVcU84C8F2J"
            {%- else -%}
            data-category="Guestbook"
            data-category-id="DIC_kwDOSRVcU84C8F2Q"
            {%- endcase %}

            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="0"

            {% if include.reverse %}
                data-default-comment-order="oldest"
            {%- else -%}
                data-default-comment-order="newest"
            {%- endif %}

            data-emit-metadata="0"
            data-input-position="top"
            data-theme="light"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
{% endif %}

{% assign OLD = site.data.meta.comments | where_exp: 'e', 'page.url contains e.Page' | reverse %}
{% if OLD.size > 0 %}
    <details id="c_widget" data-pagefind-ignore>
        <summary>View Old Comments</summary>
        {% for e in OLD %}
            {% if e.Reply %}
                {% continue %}
            {% else %}
                {% assign replies = OLD | where_exp: 'i', 'i.Reply contains e.Name' | reverse %}
            {% endif %}

            <div id="{{ e.Name }} |--|{{ e.date | date: "%D/%M/%Y %H:%M:%S" }}" class="c-comment">
                {% if e.Image %}
                    <img class="c-img" src="{{ e.Image }}">
                {% endif %}
            
                <h3 class="c-name">{{ e.Name }} </h3>
                <span class="c-timestamp">{{ e.date | date: "%D/%M/%Y" }}</span>
                {% if e.Website %}
                    <a target="_blank" href="{{ e.Website }}" class="c-site">⇗</a>
                {% endif %}
                
                <div class="c-text">
                    {{ e.Text | markdownify }}
                </div>

                {% if replies.size > 0 %}
                    <details>
                        <summary>Replies ({{ replies.size }})</summary>
                        {% for rply in replies %}
                            <div id="{{ rply.Name }} |--|{{ e.date | date: "%D/%M/%Y %H:%M:%S" }}" class="c-reply">
                                {% if rply.Image %}
                                    <img class="c-img" src="{{ rply.Image }}">
                                {% endif %}

                                <h3 class="c-name">{{ rply.Name }}</h3>
                                <span class="c-timestamp">{{ rply.date | date: "%d/%m/%Y" }}</span>

                                {% if rply.Website %}
                                    <a target="_blank" href="{{ rply.Website }}" class="c-site">⇗</a>
                                {% endif %}
                                <div class="c-text">
                                    {{ rply.Text | markdownify }}
                                </div>
                            </div>
                        {% endfor %}
                    </details>    
                {% endif %}
                
            </div>

        {% endfor %}
        <span id="giscus_temp">Hello, had to change comment system to avoid spam..! You can comment on my <a href="https://neocities.org/site/stupied-profile">Neocities Profile</a> instead.</span>

    </details>
{% endif %}