<div id="index_splash">
    <div id="meirl">
        <a href="/about/" class="tooltip" title="About the Webmaster">
            <span>About the Webmaster (that's me!)</span>
            <div class="outline-hover">
                <img class="cursor" src="/meta/img/cursor.webp" alt=""/>
                <img class="doll" src="/meta/img/meirl.webp" alt=""/>
            </div>
        </a>
    </div>
    <div id="all">
        <div id="topbar">
            {%- if site.url contains 'nekoweb.org'-%}
            <span><span>stupied</span>.nekoweb.org</span>
            {%- else -%}
            <span><span>stupied</span>.net</span>
            {%- endif -%}
        </div>
        <div id="scene">
            <a href="/meta/warning?/" id="warning" class="tooltip">
                <img src="/meta/img/warning.webp" class="outline-hover" alt=""/>
                <span>Website's content warnings</span>
            </a>
            
            <a href="/art/" id="art" class="tooltip">
                <img src="/meta/img/art.webp" class="outline-hover" alt=""/>
                <span>Artwork and animations</span>
            </a>
            <a href="/lib/" id="comic" class="tooltip">
                <img src="/meta/img/comic.webp" class="outline-hover" alt=""/>
                <span>Sequential images to tell stories</span>
            </a>

            <img id="pole" src="/meta/img/pole.webp" alt="">

            <a href="https://wiki.stupied.net/" id="ocs" class="tooltip">
                <img src="/meta/img/psyche.webp" class="outline-hover" alt="">
                <span>Read about my OCs!</span>
            </a>
        </div>
    </div>
    <div id="blog">
        <a href="/blog/" class="tooltip" title="Screaming into the abyss">
            <img src="/meta/img/blog.webp" class="outline-hover" alt="">
            <span>Screaming into the abyss</span>
        </a>
    </div>
</div>