---
layout: art
title: Artfight
description: Attacks I drew for artfight

css:
- /meta/css/artfight.css
---

{% assign total = site.data.chez.artfight | afTotal %}
{% assign DATA = total | concat: site.data.chez.artfight %}
<article id="af_stats" class="padded">
  <h1>Artfight Attacks</h1>
  {% for e in DATA %}
    <section id="{{ e.year }}">
      <div class="af-item">
        <div  class="af-team">
            <h2>{% if e.year %}{{ e.year }}{% endif %} » {{ e.team }} Stats</h2>
        </div>
        <div class="af-stats">
          <div class="af-stats-ratio">
            {%- assign ratio = e | afRatio | slice: 0, 5 | append: '%' -%}
            <div class="af-label">Battle Ratio</div>
            <div class="af-value" style="--w:{{ ratio }};">{{ ratio }}</div>
          </div>
          <div class="af-stats-pts">
            <div class="af-label">Points</div>
            <div class="af-value">{{ e.pts }}</div>
          </div>
          <div class="af-stats-atk">
            <div class="af-label">Attacks</div>
            <div class="af-value">{{ e.atk }}</div>
          </div>
      
          <div class="af-stats-ffr">
            <div class="af-label">Friendly Fires</div>
            <div class="af-value">{{ e.ffr }}</div>
          </div>
          <div class="af-stats-def">
            <div class="af-label">Defenses</div>
            <div class="af-value">{{ e.def }}</div>
          </div>
        </div>
      </div>

      {% include art/artfight.liquid year = e.year %}
    </section>

  {% endfor %}
</article>