---
layout: none
---

@import url(/meta/css/comment-widget.css);
@import url(/meta/css/lightbox.css);

:root {
    --bg-color: white;
    --txt-color: black;
    --color-clouds: #0ebde4;
}

body {
    background-color: var(--color-clouds);
}

body > header {
    z-index: 1;
    width: 100%;
    height: 50vh;
    background-image: url(/meta/img/clouds.jpg);
    background-size: auto 120%;
    animation:bg-scroll 300s infinite linear;
    position: fixed;
    top: 0; left: 0;
    box-shadow: 0 -1rem 1.5rem 0 var(--color-clouds) inset;
}

@keyframes bg-scroll {
    0%{ background-position: 0 100%; }
    100%{ background-position: calc(1350px * 1.5) 100%; }
}

#container {
    display: flex;
    margin: auto;
    position: relative;
    max-width: 1000px;
    flex-direction: row-reverse;
    z-index: 2;
    gap: 1rem;
}

aside {
    user-select: none;
    position: relative;
    width: 270px;
    > div {
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        margin-bottom: 1.5rem;
    }
    img {
        max-width: 100px;
        filter:hue-rotate(-20deg) saturate(130%);
    }
    > div > a { display: block; }
    a { margin-bottom: 0.3rem; }
}

nav {
    padding-bottom: 0;

    > a{
        background-color: black;
        color: white;
        display: inline-block;
        padding: 0.5rem;
        border-radius: 5px;
        margin-right: 0.2rem;
    }

    > a > span:nth-child(2) {
        margin-left: 0.5rem;
    }
}

main {
    margin: auto;
    padding-top: 1rem;
    min-width: 0;
    flex: 1;
    background-color: white;
    box-shadow: 0 0 1rem white;
    min-height: 100vh;
}

.main-content {
    padding:0 1.5rem;

    img{ width:100%; }
    > img{ margin-bottom:0.5rem; }
}

#blog-date{
    color:var(--color-accent);
    font-family: var(--display-font);
    font-weight: bolder;
}

.justified-gallery{ margin-bottom: 0.5rem; }

.justified-gallery img,
#p_content > img,
#p_content > * > img,
p > img {
    border-radius:8px;
}

p > img:not(:last-child), p > button:not(:last-child) > img {
    margin-bottom: 0.5rem;
}

figure {
    color: gray;
    margin: 0;
    > img {margin-bottom: 0.5rem}
}

.sign-off {max-width: 200px;}

img.center{
    display:block;
    margin-right:auto;
    margin-left:auto;
}

.yt-embed { margin-bottom: 0.5rem; }

#header-img{
    background-image: var(--img);
    margin: -1rem -1.5rem;
    background-size: cover;
    background-position: center;
    aspect-ratio: 3/1;
    position: relative;
}

#header-img::after {
    content: "";
    display: block;
    position: absolute;
    height: 5%; width: 100%;
    left: 0; bottom: 0;
    background-color: red;
    background: linear-gradient(#00000000,white);
}

.has-header {
    margin-top: -1rem;
}

#nextprev{
    user-select: none;
    margin-top:3rem;
    font-family: var(--display-font);
}

#nextprev a {
    padding: 0.5rem;
    margin-right: 0.3rem;
    border-radius: 8px;
}
#nextprev-next {
    border: 2px solid var(--txt-color);
    background-color: var(--txt-color);
    color: var(--bg-color);
}
#nextprev-prev { border: 2px solid var(--txt-color); }

#blog_comments {
    border-top: var(--border);
    padding-top: 1rem;
    margin: 1.5rem 0;
}
#c_widget{
    --text-color: var(--txt-color);
    --bg-color: var(--bg-color);
    --form-color: var(--txt-color);
    --form-bg: var(--bg-color);
}

.micro{
    article{
        border-radius: 5px;
        background-color: rgb(245, 245, 245);
        border:2px solid var(--txt-color);
        --main-color:var(--txt-color);
        color:var(--bg-color);
        &:nth-of-type(1n){transform: rotate(-1deg)  translateX(-5px);}
        &:nth-of-type(2n){transform: rotate(1deg) translateX(8px);}
    }
    article > div{
        overflow-y:auto;
        padding:1rem;
        padding-top:0.5rem;
        max-height:320px;
        color: var(--txt-color);
    }
    h3{
        background-color:var(--main-color);
        padding:1rem;
    }

    h4{
        color:var(--main-color);
        margin-bottom:0.5rem;
    }
    div > span{
        display: block;
        font-size: 0.7rem;
        color: grey;
        text-align:right;
    }
}

::selection{
    background-color:var(--color-accent);
    color:black;
}

@media only screen and (max-width: 780px) {
    #container { display: block; }
    main { margin-top: 0;}
    aside {
        width: unset;
        max-width: 400px;
        width: 90%;
        height: 40vh;
        margin: auto;
        > div {
            display: flex;
            align-items: center;
            position: absolute;
            gap: 1rem;
        }
        > div > div {margin-bottom: 0;}
    }
}

/*=== BLOG LIST STYLING ===*/
/* Use these tags to hide certain elements in the blog list */
.no-title .item-title{display:none;}
.no-date .item-date{display:none;}
.no-desc .item-desc{display:none;}
.no-img .item-img{display:none;}

.item-img img{display: block;}
.item-img img[src='./']{display:none;}

.item-title{grid-area:title;}
.item-date{grid-area:date;}
.item-desc{grid-area:desc;}
.item-img{grid-area:img;}

.compact {
    .item-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .blog-item{
        display:grid;
        grid-template-areas:
        'date title img'
        'desc desc img';
        grid-template-columns:auto 1fr auto;
        grid-template-rows:auto 1fr;
        transition: 0.1s;
    }

    .item-date{ font-weight:bold; }

    .item-date:after{
        content:":";
        padding:0 0.5rem;
    }
    .item-desc{margin-left:1rem;}
    a:hover .blog-item{
        background-color:var(--color-accent);
        padding:0.5rem;
    }
}

.window {
    flex: 1;
    
    a{
        display: block;
        transition: 0.3s;
        position: relative;
        overflow: hidden;
        margin-bottom: 1rem;
    }

    a:hover { outline: 3px solid var(--color-accent)}
    a:hover .item-title { color: var(--color-accent)}
    .blog-item{
        border: 2px solid;
        background-color: white;
        transition: 0.2s;
        break-inside: avoid;
        display:grid;
        grid-template-areas:
        'img'
        'title'
        'date'
        'desc';
    }

    .item-title{
        padding:0.5rem;
        padding-bottom: 0;
        z-index:1;
        font-weight: bold;
        font-size: 1.3rem;
        transition: 0.3s;
    }

    .item-date{
        padding:0.5rem;
        padding-top: 0;
        color:var(--main-color);
    }

    .item-desc {
        padding: 0.5rem;
        padding-top: 0;
        > span { color: lightgray; }
    }
}

@media only screen and (max-width: 500px) {
    #blog_archive .window:last-child {display: none;}
}

@media only screen and (min-width: 501px) {
    #blog_archive .window{
        display: flex;
        gap:0.5rem;
    }
    #blog_archive .window:first-child > :nth-of-type(even){display:none;}
    #blog_archive .window:last-child > :nth-of-type(odd){display:none;}
}

#blog-archive, #blog-recent {user-select:none;}
.item-title,.item-date{font-family: var(--display-font);}

footer {
    border-top: var(--border);
}

// MIRCOBLOG
.micro-feed {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem auto;
}

#micro_tags,
#micro_nav {
    font-family: var(--display-font);
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

#micro_tags label,
#micro_nav a {
    display: block;
    border-radius: 8px;
    color: color-mix(in srgb, var(--txt-color), var(--bg-color));
    background-color: color-mix(in srgb, var(--bg-color) 90%, var(--txt-color));
    padding: 0.5rem;

    &:hover {
        color: black;
        background-color: color-mix(in srgb, var(--bg-color) 70%, var(--txt-color));
    }

    &:has(input:checked) {
        color: white;
        background-color: var(--color-accent);
    }

    &:first-child {
        color: white;
        background-color: black;
    }

    input {
        appearance: none;
    }
}

#micro_tags label{
    padding-left: 0;
}

.micro-post {
    border-radius: 8px;
    border: 1px solid;
    padding: 1rem;

    h2 {
        border-bottom: var(--border);
        margin-bottom: 1rem;
        span {
            color: var(--color-accent);

            &::before {
                content: "»";
                display: inline-block;
                margin: 0 0.5rem;
                color: var(--txt-color);
            }
        }
    }

    details {
        &[open] summary {
            margin-bottom: 1rem;
        }
        summary {
            font-family: var(--display-font);
        }
    }
}

.micro-tags {
    border-top: var(--border);
    padding-top: 1rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: right;
    margin-top: 1rem;
    span {
        color: color-mix(in srgb, var(--txt-color), var(--bg-color));
        display: inline-block;
        background-color: color-mix(in srgb, var(--bg-color) 90%, var(--txt-color));
        border-radius: 8px;
        &::before {
            content: "#";
        }
    }
}

.tagged:has(input:checked) .micro-post,
.tagged:has(input:checked) .timeline-item
 {display: none;}

.tagged:has(#all:checked) .micro-post,
{% for e in site.data.blog.micro.tags %}
    .tagged:has(#{{ e }}:checked) .micro-post[class~="{{ e }}"],
{% endfor %}

.tagged:has(#all:checked) .timeline-item,
{% for e in site.tags %}
    {% assign tag = e | first %}
    .tagged:has(#{{ tag }}:checked) .timeline-item[class~="{{ tag }}"]
    {%- unless forloop.last -%},{%- endunless -%}
{% endfor %}
{display: block;}

// PAGEFIND 
#search {
    margin-top: 0!important;
    .pagefind-ui__filter-panel {
        display: none;
    }
}

// CODE BLOCKS
p > code, li > code {
    background-color: color-mix(in srgb, white 85%, var(--color-accent));
    font-weight: bolder;
    border-radius: 10px;
    outline: 1px solid var(--color-accent);
    padding: 0 0.3rem;
    white-space: nowrap;
}

li code ~ code {
    background-color: white;
}

pre {
    padding: 1rem;
    border: 1px dashed var(--txt-color);
    code { 
        display: block;
        overflow: auto;
    }
}

.highlight .hll { background-color: #003f8e }
.highlight  { background: #002451; color: #ffffff }
.highlight .c { color: #7285b7 } /* Comment */
.highlight .err { color: #ff9da4 } /* Error */
.highlight .k { color: #ebbbff } /* Keyword */
.highlight .l { color: #ffc58f } /* Literal */
.highlight .n { color: #ffffff } /* Name */
.highlight .o { color: #99ffff } /* Operator */
.highlight .p { color: #ffffff } /* Punctuation */
.highlight .cm { color: #7285b7 } /* Comment.Multiline */
.highlight .cp { color: #7285b7 } /* Comment.Preproc */
.highlight .c1 { color: #7285b7 } /* Comment.Single */
.highlight .cs { color: #7285b7 } /* Comment.Special */
.highlight .gd { color: #ff9da4 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #d1f1a9 } /* Generic.Inserted */
.highlight .gp { color: #7285b7; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #99ffff; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #ebbbff } /* Keyword.Constant */
.highlight .kd { color: #ebbbff } /* Keyword.Declaration */
.highlight .kn { color: #99ffff } /* Keyword.Namespace */
.highlight .kp { color: #ebbbff } /* Keyword.Pseudo */
.highlight .kr { color: #ebbbff } /* Keyword.Reserved */
.highlight .kt { color: #ffeead } /* Keyword.Type */
.highlight .ld { color: #d1f1a9 } /* Literal.Date */
.highlight .m { color: #ffc58f } /* Literal.Number */
.highlight .s { color: #d1f1a9 } /* Literal.String */
.highlight .na { color: #bbdaff } /* Name.Attribute */
.highlight .nb { color: #ffffff } /* Name.Builtin */
.highlight .nc { color: #ffeead } /* Name.Class */
.highlight .no { color: #ff9da4 } /* Name.Constant */
.highlight .nd { color: #99ffff } /* Name.Decorator */
.highlight .ni { color: #ffffff } /* Name.Entity */
.highlight .ne { color: #ff9da4 } /* Name.Exception */
.highlight .nf { color: #bbdaff } /* Name.Function */
.highlight .nl { color: #ffffff } /* Name.Label */
.highlight .nn { color: #ffeead } /* Name.Namespace */
.highlight .nx { color: #bbdaff } /* Name.Other */
.highlight .py { color: #ffffff } /* Name.Property */
.highlight .nt { color: #99ffff } /* Name.Tag */
.highlight .nv { color: #ff9da4 } /* Name.Variable */
.highlight .ow { color: #99ffff } /* Operator.Word */
.highlight .w { color: #ffffff } /* Text.Whitespace */
.highlight .mf { color: #ffc58f } /* Literal.Number.Float */
.highlight .mh { color: #ffc58f } /* Literal.Number.Hex */
.highlight .mi { color: #ffc58f } /* Literal.Number.Integer */
.highlight .mo { color: #ffc58f } /* Literal.Number.Oct */
.highlight .sb { color: #d1f1a9 } /* Literal.String.Backtick */
.highlight .sc { color: #ffffff } /* Literal.String.Char */
.highlight .sd { color: #7285b7 } /* Literal.String.Doc */
.highlight .s2 { color: #d1f1a9 } /* Literal.String.Double */
.highlight .se { color: #ffc58f } /* Literal.String.Escape */
.highlight .sh { color: #d1f1a9 } /* Literal.String.Heredoc */
.highlight .si { color: #ffc58f } /* Literal.String.Interpol */
.highlight .sx { color: #d1f1a9 } /* Literal.String.Other */
.highlight .sr { color: #d1f1a9 } /* Literal.String.Regex */
.highlight .s1 { color: #d1f1a9 } /* Literal.String.Single */
.highlight .ss { color: #d1f1a9 } /* Literal.String.Symbol */
.highlight .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.highlight .vc { color: #ff9da4 } /* Name.Variable.Class */
.highlight .vg { color: #ff9da4 } /* Name.Variable.Global */
.highlight .vi { color: #ff9da4 } /* Name.Variable.Instance */
.highlight .il { color: #ffc58f } /* Literal.Number.Integer.Long */