{% assign MAX = include.max | default: site.post.size %}
{%- assign DATA = include.data | default: site.posts -%}

{%- if DATA.size > 0 -%}      
<ul class="toc">
    {% for item in DATA limit: MAX %}
        <li>
            <a href="{{ item.url }}">
                <span class="font-display">{{ item.title }}</span>
                <span class="dash"></span>
                <span>
                    <time datetime="{{ e.date | date_to_xmlschema }}">{{ item.date | date: "%Y-%m-%d"}}</time>
                </span>
            </a>
        </li>
    {% endfor %}
</ul>
{%- endif -%}