---
layout: default
---
<link rel="stylesheet" href="/comic/main.css">
<div id="container" class="comicViewer">
    <div id="top" data-nosnippet>
        <header></header>
        <div id="nextprev"></div>
        <div id="extra">
            <a href="/comic/">✮</a>
        </div>
    </div>

    <main class="default">
        {{ content }}
    </main>

    <div id="bottom">
        <aside>
            <nav id="next"></nav>
            <div id="info"></div>
        </aside>
        <div>
            {% include comment-widget.html %}
        </div>
    </div>
    <footer class="default-footer center" data-nosnippet>
        {%- include footer-old.html -%}
    </footer>
</div>
<script src="/comic/main.js"></script>