---
layout: page
---

{% assign DATA = site.art | where_exp: 'e', 'e.category == page.id' %}

<header class="padded border-dashed-bottom">
    <h1>{{ page.title }}</h1>
    <div class="blockquote">
        {{ page.description | markdownify }}
    </div>

    {% if page.yap %}
        {{ page.yap | markdownify }}
    {% endif %}

    {% if page.external %}
        <p>
            <a href="{{ page.external }}">External Website »</a>
        </p>
    {% endif %}
</header>

<nav class="padded">
    <h2>Table of Contents</h2>
    {% if DATA.size > 1 %}
        <ul class="toc">
            {% for item in DATA %}
                <li>
                    <a href="#{{ item.name | slugify }}">
                        <span class="font-display">{{ item.title }}</span>
                        <span class="dash"></span>
                        <span>{{ item.date | date: "%Y-%m-%d" }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>

<div id="comic">
    {% for item in DATA %}
        <article id="{{ item.name | slugify }}">
            <div class="padded border-top">
                <h2>{{ item.title }}</h2>
                <time class="h4 clr-accent" datetime="{{ item.date | date_to_xmlschema }}">
                    <span>{{ item.date | date: "%B %-d, %Y" }}</span>
                </time>
            </div>

            <div class="border-dashed-top">
                {% include art/write-imgs.liquid data=item %}
            </div>

            {% assign test = item.content | strip %}
            {% if test != '' %}
                <section id="comic_note" class="padded border-top">
                    <h3>Author's Note</h3>
                    {{ item.content }}
                </section>
            {% endif %}
            
            <div>
                <ul class="sub border-dashed-top">
                    <li>
                        <a href="{{ item.url }}#art_comment" title="Comment on {{ item.title }}">
                            <span class="icon-chat"></span>
                            <span>Comment</span>
                        </a>
                    </li>
                </ul>
            </div>

        </article>    
    {% endfor %}
</div>