---
layout: page
---
<article class="padded">
    <script> window.location.replace("{{ page.link }}");</script>
    <h1>Redirecting...</h1>
    <p>You should be redirected <a href="{{ page.link }}">here</a>.</p>
    {{ content }}
</article>
