---
layout: none
---
<!DOCTYPE html>
<html lang="en-US">

<head>
  {% include head.html %}
  <link rel="stylesheet" href="/chez/reviews/main.css">
  <script src="/chez/reviews/main.js" defer></script>
</head>

<body>
  <div id="container">
    <header data-nosnippet>
      <h1>{{ page.title | default: "Tier List"}}</h1>
    </header>
    <main>
      {% include chez/reviews/tier-list.html selected = page.selected -%}
      {% include chez/reviews/tier-recent.html selected = page.selected -%}
      {{ content }}
    </main>
    <footer class="default-footer">
      {%- include_cached footer-old.html -%}
    </footer>
  </div>
</body>

</html>