---
layout: none
---
{% assign FEED_ITEM = site.data.rss | filterFuture | first %}
.site-box { background-image: none;}.site-box .screenshot {display: none;}
.site-box .sitefeature {background-image: url({{ FEED_ITEM.thumb.first | default: FEED_ITEM.thumb | prepend: "https://stupied.nekoweb.org/stupied.nekoweb.org"}})
;background-size: cover; overflow: hidden; border:none;position: relative;}
.site-box .sitefeature::after{
content:"{{ FEED_ITEM.title }}";position: absolute;bottom:0;right:0;z-index:1;color:white;text-shadow:0 0 10px black;
width:100%;min-height: 2rem;text-align: right;font-size:1rem;padding:0.5rem;box-sizing:border-box;
background-image: linear-gradient(transparent,black);
}
.site-box .sitefeature::before {
content:"";display:block;width:100%;height:100%;transition:0.2s;z-index:2;position: relative;
background: url(https://stupied.nekoweb.org/stupied.nekoweb.org/meta/rss/2025-08-27.png), white;
background-size: auto 100%;background-position: center;background-repeat: no-repeat;
}
.site-box .sitefeature:hover::before{transform: translateX(-100%);box-shadow:0 0 10px black;}
.post-box .post-title { color:black; font-size: 1.5rem;font-style:unset;font-family:Tahoma;}
.post-box {
font-family: Tahoma;
background-image: url(https://stupied.nekoweb.org/stupied.nekoweb.org/meta/img/clouds.jpg);background-size: auto 120%; padding: 1rem;
border: 2px solid black; color: white;text-shadow: 0 0 5px white;
& .post-description {
	margin: 0.4rem 0 0 0; color: black;text-shadow: none;
	background-color:white;box-shadow:0 0 10px white;
	box-sizing: border-box;padding: 0.5rem;}
}